
header {
    background-color: #61dafb;
    grid-area: h;
}

.header img {
    display: inline-block;
    margin: 15px 0 0 110px;
    width: 80px;
    height: 50px;
    transition: 0.25s;

}
.header img:hover   {


}


.loginBlock {
    float: right;
    margin: 0 20px 0 0;
}

.loginBlock a {
    display: block;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    background: #262c37;
    margin: 20px 10px 0 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.loginBlock a:hover {
    color: #fff;
}

.loginBlock button {
    border: none;
    display: block;
    width: 100px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #262c37;
    margin: 20px 10px 0 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.4);
    font-size: 24px;
    transition: 0.5s;
    cursor: pointer;
}

.loginBlock button:hover {
    color: #fff;
}

