@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600700,800,900&display:swap;);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app-wrapper{
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  /* grid-gap: 10px; */
  grid-template-areas: 
  'h h'
  'n c';
  grid-gap: 10px;
}

