.nav {
  background-color: #fff;
  grid-area: n;
  padding: 50px 0 0 90px;
}

.nav div {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 25px;
}

.nav a {
  color: #607d8b;
  text-decoration: none;
  margin: 0 0 0 30px;
}

.nav a.activeLink {
  color: #607d8b;
  position: relative;
  font-weight: 700;
  display: block;
}
.nav a.activeLink:after {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 4px;
  height: 28px;
  font-weight: 600;
  background: #3970b8;
}



