
 .content img {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
 }

 .userdata {
  
 }

 .imageblock {
   margin: 0 10px 0 0;
 }
 
 .image {
  width: 300px;
  height: 250px;
 }
 
 .userinfo{
 }
 .userinfo__title{
   font-size: 30px;
   font-weight: bold;
   margin: 0 0 20px 0;
 }
 
 .userinfo__info{
   font-size: 20px;
 }
 .userinfo__info span{
  display: block;
 }

 .userName {
   font-size: 26px;
 }
 .userPhoto {
   width: 415px;
   height: 415px;
 }

 .contact {
     font-weight: 400;
     padding-left: 10px;
 }

 .profile {
     display: flex;
     /*border: 1px solid rgb(197, 197, 197);*/
     width: 40vw;
 }


 .profileDataBlock {
     margin: 0 0 0 15px;
 }