
.formControl.error input,
.formControl.error textarea
{
  border: 2px solid red;
}
.formControl.error span
{

  color: red;
}

.formSummuryError {
  border: 1px solid red;
  padding: 5px;
  color: red;
  width: 150px;
}

.formControl input,
.formControl textarea
{
  font-size: 13px;
  color: #607db8;
  font-weight: 300;
  letter-spacing: 1px;
}

