.dialogs {
   display: grid;
   grid-template-columns: 2fr 3fr;
   grid-template-rows: 200px 1fr;
   padding: 20px;
   font-size: 20px;
}

.message {
   margin: 0 0 10px 0;
   color: #607d8b;
}

.sendMessageButton {
   margin: 10px 0 0 0;
   padding: 5px 30px;
   outline: none;
   font-weight: 400;
   border: 1px solid #607d8b;
   font-size: 16px;
   letter-spacing: 1px;
   background: transparent;
   color: #607d8b;
   cursor: pointer;
}

.sendMessageButton:hover {
   color: #fff;
   background: #3970b8;
   border: 1px solid #3970b8;
}


