.mypost {
}

.mypost__btns {
   margin: 0 0 20px 0;
}

.mypost__btns textarea {
   outline: none;
}

.mypost__logo {
   font-size: 20px;
   color: #607d8b;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   margin: 0 0 10px 0;
}

.addPost {
   display: inline-block;
   padding: 5px 20px;
   outline: none;
   font-weight: 400;
   border: 1px solid #607d8b;
   font-size: 16px;
   letter-spacing: 1px;
   color: #607d8b;
   background: transparent;
   cursor: pointer;
}

.addPost:hover {
   color: #fff;
   background: #3970b8;
   border: 1px solid #3970b8;
}

.post {
   font-size: 20px;
}